.sortable {
  cursor: pointer;
  color: #dd5;
}

.warning {
  background-color: #b91313;
}

table {
color: #111;
border-radius: 5px;
overflow: hidden;
margin: 12px 0;
min-width: 777px;
background: #2d90f3;
}

.header-row {
  background: #34495E;
  color: #fff
}

th, td {
  text-align: left;
  margin: 5px 10px;
  padding: 6px;
}
